/* 
    Document   : tokeninput_custom
    Created on : Jan 26, 2012, 8:13:58 AM
    Author     : amritbera
    Description:
        Few custom styles of the tokeninput jQuery plugin for drupal.
*/

.tokeninput ul {
    border: 1px solid #8496BA !important;
    list-style-type: none !important;
    margin: 0px !important;
    padding: 0px !important;
}